# Copyright (C) Inverse inc.
[Unit]
Description=PacketFence NTLM join remote

[Service]
StartLimitBurst=3
StartLimitInterval=60
Type=notify
WatchdogSec=30s
Environment=LOG_LEVEL=INFO
ExecStart=/usr/local/ntlm-auth-api/sbin/ntlm-join-remote
ExecStop=/bin/bash -c "docker stop ntlm-join-remote ; echo Stopped"
Restart=on-failure
PIDFile=/usr/local/ntlm-auth-api/var/run/ntlm-join-remote-systemd-notify.pid

[Install]
WantedBy=multi-user.target
